<%- include('header') %>


      <!--end::Sidebar-->
      <!--begin::App Main-->
      <main class="app-main">
        <!--begin::App Content Header-->
        <div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h3 class="mb-0">Admin Form</h3></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Admin Form</li>
                </ol>
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content Header-->
        <!--begin::App Content-->
        <div class="app-content">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row g-4">
              <!--begin::Col-->
              
              <!--end::Col-->
              <!--begin::Col-->
              <div class="col-md-6">
                <!--begin::Quick Example-->
                <div class="card card-primary card-outline mb-4">
                  <!--begin::Header-->
                  <div class="card-header"><div class="card-title">Admin Form</div></div>
                  <!--end::Header-->
                  <!--begin::Form-->
                  <form action="changenewpassword" method="post">
                    <!--begin::Body-->
                    <div class="card-body">

                      

                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password :</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="currentpassword" />
                      </div>

                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Current Password :</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="newpassword" />
                      </div>

                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Confirm Password :</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="confirmpassword" />
                      </div>
                      
                      


            

                      

                      <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>

                    </div>
                    <!--end::Body-->
                    <!--begin::Footer-->
                    
                    <!--end::Footer-->
                  </form>
                  <!--end::Form-->
                </div>
                <!--end::Quick Example-->
                
                <!--end::Input Group-->
                <!--begin::Horizontal Form-->
               
                <!--end::Horizontal Form-->
              </div>
              <!--end::Col-->
              <!--begin::Col-->
              
              <!--end::Col-->
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content-->
      </main>
      <!--end::App Main-->
      <!--begin::Footer-->
      

<%- include('footer') %>